.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  background-color: #ffcc00;
  padding: 10px 10px;
  font-weight: bold;
  margin: 0 auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar > a,
.username,
.navlink,
#logout {
  color: rgb(255, 251, 252);
  text-decoration: none;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logout {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#avatar {
  background: rgb(122, 122, 128);
}
